.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

.panel {
  margin-bottom: 20px;
  position: fixed;
}

.row {
  display: flex;
}

.cell {
  height: 50px;
  width: 50px;
}

.row:nth-child(odd) .cell:nth-child(odd),
.row:nth-child(even) .cell:nth-child(even) {
  background-color: red;
}

.row:nth-child(odd) .cell:nth-child(even),
.row:nth-child(even) .cell:nth-child(odd) {
  background-color: black;
}
